.nav-principal{
	background-color:#003c80 !important;
}

.nav-segundaria{
	background-color:#1563c0 !important;
}

.btn{
    background-color:#1563c0 !important;
    border: none; 
}

.btn-primary{
    background-color:#1563c0 !important;
    border: none; 
}

.btn-secondary{
    background-color:#5e92f3 !important;
    border: none; 
}

.card-header{
    background-color:#5e92f3 !important;
    text-align: center;
}

.aniversariante{
    color:#000000 !important;
}

.titulo-card{
    color:#000000 !important;
    font-weight: bold !important;
    font-size:16px !important;
}

/*Seletor na pagina de configurações*/
.seletor{
	background-color:#1563c0;
}

.a-footer{
    color:#1563c0 !important;
}

.link-cad{
    color:#1563c0;
}

.sobre{
    border-color: #1565c0;
    color: black;
    background-color: #5e92f3;
}

