/*PALETA
primaria:102027
segundaria:37474f
terceria:62727b
*/
.nav-principal{
	background-color:#102027 !important;
}

.nav-segundaria{
	background-color:#37474f !important;
}

.nav-item:hover {
    background-color: #102027 !important;
}

.btn{
    background-color:#37474f !important;
    border-color: #102027 !important;
    border: none;
}

.btn-primary{
    background-color:#37474f !important;
    border-color: #102027 !important;
    border: none;
}

.btn-secondary{
    background-color:#62727b !important;
    border-color: #102027 !important;
    border: none;
}

.a:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px #37474f !important;
}
.btn:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px #37474f !important;
}

.card-header{
    background-color:#62727b !important;
    text-align: center;
}

.aniversariante{
    color:#ffffff !important;
}

.titulo-card{
    color:#ffffff !important;
    font-size:16px !important;
}

/*Seletor na pagina de configurações*/
.seletor{
	background-color:#37474f;
}

.a-footer{
    color:#37474f !important;
}

.link-cad{
    color:#102027;
}

.sobre{
    border-color: #90a4ae;
    color: black;
    background-color: #90a4ae;
    padding: 10px;
	border: 1px solid #90a4ae;
	border-radius: 10px;
	margin-bottom: 10px;
	font-size: 17px;
}
.sobre a{
    color: black !important;
    text-decoration: underline;
}

.link-cad{
    color:#4e342e;
}

/*Botão de subir e descer*/
.smoothscroll-top {
    background-color:#62727b;
}

.smoothscroll-top:hover {
    background-color:#37474f;
}

/*LINKS*/
.link-documento{
    color:#37474f;
    text-decoration: underline;
}

.link-aniversariante{
    color:#37474f;
    text-decoration: underline;
}

/*PAGINAÇÃO*/
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #37474f;
    border-color: #37474f;
}

.page-link {
    color: #62727b;
}

/*HOME*/
.li-data-niver{
    background-color:#cfd8dc;
    color:black;
}

/*Agenda*/
.fc-header-toolbar{
	background-color:#62727b !important;
    color:white;
	text-align:center;
	align-items:center !important;
	margin:0px !important;
	padding:12px;
}
.fc-button{
    background-color:#37474f !important;
    border-color:#37474f !important;
}

.fc-col-header-cell-cushion {
    color:#102027 !important;
}

.fc-daygrid-day-number{
    color:#37474f !important;
}

.fc-event-title {
    color:black !important;
}

.fc-event-time{
    color:black !important;
}

.fc-daygrid-event-dot{
    border: calc(var(--fc-daygrid-event-dot-width, 8px) / 2) solid #000000 !important;
}

.fc-v-event{
    background-color: var(--fc-event-bg-color, #90a4ae) !important;
    border-color: #90a4ae !important;
}

.fc-list-day-text{
    color:#37474f !important;
}

.fc-list-day-side-text{
    color:#37474f !important;
}

.fc-list-event-dot{
    border: calc(var(--fc-list-event-dot-width, 10px) / 2) solid var(--fc-event-border-color, #102027) !important;
}
