.ladoEsquerdo {
	width:608px !important;
	height:288px !important; 
	margin-left:13px !important;
	margin-right:9px !important;
	margin-bottom:0px !important;
	margin-top:0px !important;
	padding:3px !important;
}