/*Geral*/
html,body {
    height: 100% !important;
	background-color:#f5f5f6;
}

*{
  font-family: Arial!important;
}
.footer {
    position:relative!important;
    bottom:0!important;
    width:100%!important;
	text-align:center!important;
}
.negrito {
	font-weight: 600;
}

/*Menu de navegação*/
.navbar {
	padding:0px !important;
}

.dropdown-item:hover {
	background-color: #DCDCDC !important;
}

.nav-link {
  color: white !important;
}
.navbar-brand{
	color: white !important;
}

/*Home Page*/


/*Tabela de amostragem de usuarios*/
.table {
	margin-top:16px !important;
}
.listagem {
	margin-left: 5px;
	margin-right: 5px;	
}

/*Field site form documento*/
.fieldset-personalizado {
  border: 1px solid #999 !important;
  padding: 10px !important;
  width:100% !important;
}

/*Forms Cadastro*/
label{
	padding:0px !important;
}
hr{
	border-color:#A9A9A9 !important;
}

input,textarea,select {
	border: 1px solid #b8b8b8 !important;
		color:#1C1C1C!important;
}

.btn-formulario{
	border:1px solid #808080 !important;
	width:50%;
}
.input-arquivo{
	padding:3px !important;
}

.form-control:focus{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(0, 0, 0, 0.40) !important;
}

input{
	font-family: Arial, Helvetica, sans-serif !important; 
	/*font-size: 16px !important; color:#363636!important;*/
}

.btn-pdf{
	border:0px !important;
}
.div-center{
	display:flex;
	justify-content:center;
	align-items:center;
}

.titulo{
	font-weight:bold !important;
	font-size:22px !important;
	font-family: Arial, Helvetica, sans-serif !important; 
}

.alterar{
	width: 100px;
}

.cadastro{
	padding-left:5% !important;
}
@media(max-width: 480px) {
	.cadastro{
		padding-left:0px !important;
	}
}

.cadastro-menor{
	padding-left:27% !important;
}
@media(max-width: 480px) {
	.cadastro-menor{
		padding-left:0px !important;
	}
}

.cadastro-agenda{
	padding-left:21% !important;
}
@media(max-width: 480px) {
	.cadastro-menor{
		padding-left:0px !important;
	}
}

.div-configuracao{
	padding-left:30% !important;
}
@media(max-width: 480px) {
	.div-configuracao{
		padding-left:0px !important;
	}
}


.relatorio-aniversario{
	padding-left:30% !important;
}
@media(max-width: 480px) {
	.cadastro-menor{
		padding-left:0px !important;
	}
}

.div-calendario{
	height:500px !important;
}
@media(max-width: 480px) {
	.div-calendario{
		height:auto !important;
	}
	#calendar{
		height: 500px;
	}
}
	
.div-botoes-cadastro{
	align-items: center;
	justify-content: center;
	padding-right:10%;
}

.link-aniversariante{
	border:none;
	background-color:none;
}

/*Form_agente_politico*/
#customFile .custom-file-control:lang(en)::after {
  content: "...";
}

/*ALERTA*/
.alerta {
	padding: 10px;
	border: 1px solid gray;
	border-radius: 3px;
	margin-bottom: 10px;
	font-size: 17px;
}

.atencao {
	border-color: #faebcc;
	color: #8a6d3b;
	background-color: #fcf8e3;
}

.perigo {
	border-color: #9a0007;
	color: #ffffff;
	background-color: #d32f2f;
}

/*Auto complete*/
.ui-menu-item{
	background-color:#d3d3d3;
	font-weight: bold;
}

/*Alerta de campo obrigatório*/
.alert-obrigatorio{
	font-size: 10pt;
	font-style: italic;
	color: #f70713;
}

/*Cards aniversariatems na home com scroll*/
.card-aniversariantes{
	max-height: 500px;
	overflow:auto;
}

@media(max-width: 480px) {
	.card-aniversariantes{
		max-height: 500px;
		overflow:auto;
	}
}

/*link documento na edição de documento*/
.link-documento{
	color:#4b636e;
}

/*Tabela zebrada
Ou com hover
*/
.table tbody tr:nth-child(even) {
	/*Cor padrão #e9e9e9*/
    background-color: #dcdcdc !important;
}

.table tbody tr:nth-child(even):hover {
	/*Cor padrão #e9e9e9*/
    background-color: #cacaca !important;
}

.table tbody tr:hover {
	/*Cor padrão #e9e9e9*/
    background-color: #cacaca !important;
}


/*Lembrar-me*/
/*Campo input "lembrar-me"*/
.input-lembrar{
	max-width: 150px;
	min-width: 100px;
	text-align: center;
}
