/*PAGINAÇÃO DAS TABELAS DE BUSCA*/
@media screen and ( max-width: 400px ){

    li.page-item {

        display: none;
    }

    .page-item:first-child,
    .page-item:nth-child( 2 ),
    .page-item:nth-last-child( 2 ),
    .page-item:last-child,
    .page-item.active,
    .page-item.disabled {
        display: block;
    }
}

.pagination{
	margin-bottom: 0px !important;
}
#tb_pessoa{
	margin-top: 3x !important;
 }

 .table {
    margin-top: 0px !important;
}

/*Botão de voltar ao topo*/
.smoothscroll-top {
    position:fixed;
    opacity:0;
    visibility:hidden;
    overflow:hidden;
    text-align:center;
    z-index:99;
    color:#fff;
    width:47px;
    height:44px;
    line-height:44px;
    right:25px;
    bottom:-25px;
    padding-top:2px;
    border-radius:5px;
    transition:all .5s ease-in-out;
    transition-delay:.2s;
}
    
.smoothscroll-top:hover {
    color:#fff;
    transition:all .2s ease-in-out;
    transition-delay:0;
}
    
.smoothscroll-top.show {
    visibility:visible;
    cursor:pointer;
    opacity:1;
    bottom:25px;
}
    
.smoothscroll-top i.fa {
    line-height:inherit;
}