/*PAGINAÇÃO DAS TABELAS DE BUSCA*/
@media screen and ( max-width: 400px ){

    li.page-item {

        display: none;
    }

    .page-item:first-child,
    .page-item:nth-child( 2 ),
    .page-item:nth-last-child( 2 ),
    .page-item:last-child,
    .page-item.active,
    .page-item.disabled {
        display: block;
    }
}

.pagination{
	margin-bottom: 0px !important;
}
#tb_pessoa{
	margin-top: 3x !important;
 }

 .table {
    margin-top: 0px !important;
}